/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */
/* purgecss start ignore */
@tailwind base;

@layer base {
  @font-face {
    font-family: 'Pacifico';
    src: url('/fonts/Pacifico-Regular.woff2') format('woff2'),
      url('/fonts/Pacifico-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'GT Sectra Bold';
    font-weight: 700;
    src: url('/fonts/GT-Sectra-Fine-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'GT Sectra Medium';
    font-weight: 500;
    src: url('/fonts/GT-Sectra-Fine-Medium.woff') format('woff');
  }

  @font-face {
    font-family: 'GT Sectra Regular';
    font-weight: 400;
    src: url('/fonts/GT-Sectra-Fine-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.woff2') format('woff2'),
      url('/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.woff2') format('woff2'),
      url('/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff2') format('woff2'),
      url('/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Italic.woff2') format('woff2'),
      url('/fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  h1 {
    @apply font-serif font-extrabold text-3xl mb-2;
    /* @apply font-amman font-extrabold text-3xl mb-2; */
  }

  h2 {
    @apply font-serif font-normal text-3xl sm:text-2xl mb-3;
  }

  h3 {
    @apply font-serif font-normal text-xl mb-2;
  }

  h4 {
    @apply font-serif text-xl text-burgundy;
  }

  h6 {
    @apply text-burgundy;
  }

  body {
    @apply font-body text-base;
  }

  a:not('.font-reset') {
    /* @apply no-underline font-medium text-burgundy; */
    @apply no-underline font-medium text-burgundy;
  }

  a:not('.font-reset'):hover {
    @apply underline;
  }

  a:not('.font-reset'):active,
  a:not('.font-reset'):focus {
    @apply bg-transparent text-burgundy;
  }

  iframe {
    @apply w-full top-0 left-0 absolute h-full;
  }

  b,
  strong {
    font-weight: bold;
  }
}

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
